// Here you can add other styles
.card-header:not(.content-center) > .c-icon:first-child {
    margin-right: 0.1rem;
    margin-top: 0.1rem;
    vertical-align: top;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 1.2rem;
    font-weight: 600;
  }


  @import 'node_modules/bootstrap/scss/bootstrap';
  @import 'node_modules/bootstrap-vue/src/index.scss';